
<div class="jumbotron">
<h1></h1>
<h2> </h2>

 <h1 class="display-3">Welcome to Marie's Restuarant!</h1>

  
           
      

     


</div>
<p class="lead">Here at Marie's your tummy is our guest. Ya'll ready?...Okay! Let's eat! :) </p>
  <hr class="my-4">
  <p class = "lead2">Feel free to browse our menus for our array of Enticingly delicious Foods, Beverages Desserts and more...</p>
  <p class="lead">
   <%= link_to "Our Menus",home_menus_path, class: "btn btn-primary btn-lg"%>
            <%= link_to "Talk to us :)",home_talk_to_us_path, class: "btn btn-primary btn-lg"%>














