
.navbar {
	margin-bottom: 20px;
}

.jumbotron {
	background-image: url(lettuce_chicken.jpg);
	color: yellow;
	background-size: cover;
    min-height: 300px;



}


.card {
	background-color: #ffffcc;
	max-width: 100%;

}
.card-text {
    word-wrap: break-word;
}

.lead {
	text-align:center;
	color : green;
}

.lead2 {
	text-align:center;
	line-height:1.7em;
    color : green;

}


#contacts , {
	color:blue;
}
.address{
	color:blue;
}

.menupage {
	background-color: light-yellow;
	margin:20px;

}
.image {
	width: 20%;
    height: auto

}



// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
